.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.container {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 8% 92%;
    grid-template-areas: 
    "nav"
    "body";
}

.nav {
    grid-area: nav;
    display: grid;
    /* width: 100%; */
    grid-template-columns: 10% 90%;
    grid-template-areas: "menu header";
}

.menu {
    grid-area: menu;
}

.header {
    grid-area: header;
}

.body{
    grid-area: body;
    width: 100%;
    height: 100%;
}

.sidenav {
    width: 20%;
}

.logo {
    grid-area: logo;
}

.home {
    grid-area: home;
}

.login {
    grid-area: login;
}

.register {
    grid-area: register;
}

.logout {
    grid-area: logout;
}

.active {
    background-color: #6978CB!important;
}

.menuButton {
    margin-left: 1vw;
    margin-top: 0.5vw;
}